.amita-regular {
  font-family: "Amita", serif !important;
  font-weight: 400 !important;
  font-style: normal;
  font-size: 140px;
  color: #fa00ff;
}

.amita-bold {
  font-family: "Amita", serif;
  font-weight: 700;
  font-style: normal;
}

.cute-girl-img {
  width: 100%;
  height: auto;
}



.order-now {
  color: #202c2d;
  text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5,
    -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5,
    -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5,
    -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
}

.order-start {
  background-color: #f8f8f8;
}

.order-start {
  padding: 20px;
  text-align: center;
}

.order-now {
  margin-bottom: 20px;
}

.icon-label {
  margin-top: 8px;
}

.service-item {
  margin-bottom: 20px;
  /* Adds space between service items */
}

.service-image {
  height: auto;
  width: 50%;
}

.text-shadow-black {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  /* Adjust the shadow size and opacity as needed */
}

.service-description {
  font-family: "Chakra Petch" !important;
  font-weight: 400 !important;
  font-size: large !important;
}

.description {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
}

.better-day-text {
  font-family: "Playwrite MX", cursive !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Services Start Here */
.product-card {
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 15px;
  overflow: hidden;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product-image {
  object-fit:contain;
  border-bottom: 2px solid #eee;
}

.product-title {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem; 
}

.product-description {
  font-family: 'Arial', sans-serif;
  font-size: 1rem; /* Increased font size */
}

/* End here */

/* Loader container styles */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Adjust other styles as needed */